* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

header {
    flex: .8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

header p span {
    padding: 2px 8px;
    border: 1px solid #ccc;
}

header p .bg {
    background: #666666;
    color: #fff;
}

section {
    flex: 9.2;
}

section div {
    width: 100%;
}

section .xq {
    display: none;
}

section img {
    width: 100%;
    height: auto;
}